<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item> {{welcomeMessage}} Formation IONIC 6</ion-item>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar color="dark"></ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="searchMovie()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngFor="let elt of users">
    <ion-label> 
      <p>{{ elt.id }} </p>
      <p> {{ elt.username }}</p>
      <p>{{ elt.email }}</p>
    </ion-label> 
  </ion-list> 
</ion-content>